@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  --orange: #E07A5F;
  --dark-blue: #3D405B;

  //https://coolors.co/f4f1de-e07a5f-3d405b-81b29a-f2cc8f

}

img {
  display: block;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  overflow-x: hidden;

  font-family:'Quicksand', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
