.category {
  min-height: 100vh;

  display: flex;
  //flex-direction: column;
  padding: 10rem;
  align-items: center;

  background-size: cover;
  background-position: center;

  @include phone {
    padding: 10rem 4rem;
  }

  @include mini {
    padding: 10rem 2.5rem;
  }

  &.age-picker {
    background-image: url("pencils.jpg");
  }

  &.category-picker {
    background-image: url("color-hands.jpg");
  }

  &.media-picker {
    background-position: bottom;
    background-image: url("monkeys.jpg");
  }

  &.games {
    background-color: rgba(246, 191, 90, 0.904);
  }

  &.videos {
    background-color: rgb(190, 236, 221);
  }

  &.games,
  &.videos {
    flex-direction: column;
  }

  &__container {
    align-self: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    justify-items: center;
    grid-gap: 4rem;
    width: 100%;

    &.top {
      margin-top: 5rem;
      align-self: flex-start;
    }

    &.bottom {
      margin-bottom: 5rem;
      align-self: flex-end;
    }

    a {
      display: block;
      width: max-content;
    }
  }

  &.games &__container {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  &__btn {
    display: block;
    width: 100%;
    max-width: 20rem;

    border: none;

    color: #fff;
    font-weight: 600;

    background-color: var(--orange);

    font-size: 1.8rem;

    padding: 3rem 4rem;

    border-radius: 1rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

    cursor: pointer;

    transition: transform 0.25s ease;

    &:hover,
    &:focus {
      outline: none;
      transform: translateY(-3px) scale(1.05);
    }

    &.with-border {
      border: 4px solid white;
    }
  }

  &__title {
    text-align: center;
    padding: 4rem 0;
    margin-bottom: 2rem;
    width: 100%;

    font-size: 4.8rem;
    color: rgb(255, 255, 255);

    &.alt {
      color: rgb(87, 110, 103);
    }
  }
}
