@import '../mixins';

.category {

    --bg-color: var(--green);

    min-height: 100vh;

    background-color: var(--bg-color);

    padding: 12rem 4rem;

    &--media { --bg-color: var(--dark-blue); }
    &--content { --bg-color: var(--orange); }


    @include flexCenter;


    &__container {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        justify-items: center;
        grid-gap: 4rem;

        width: 100%;

    }


    &__item {
        padding: 4rem;
        max-width: 35rem;

        background-color: #fff;
        border: none;

        font-family: inherit;

        @include flexCenter;
        width: 100%;

        box-shadow: 0px 6px 11px 5px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;

        cursor: pointer;
        transition: transform .3s ease, box-shadow .3s ease;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0px 6px 20px 20px rgba(0, 0, 0, 0.08);
        }
        
        &:focus {
            outline: none;
            transform: translateY(1px);
            box-shadow: 0px 5px 8px 4px rgba(0, 0, 0, 0.12);
        }

        h2 {
            
            font-weight: 500;
            font-size: 3.2rem;
        }

        img {
            max-width: 100%;
        }
    } 

}