.navbar {
  position: absolute;
  z-index: 500;

  color: #fff;

  padding: 4rem 5rem;

  @include phone {
    padding: 3rem;
  }

  &__brand {
    font-size: 3.2rem;
    font-family: var(--brand-font);
    letter-spacing: 0.15em;
    color: #fff;

    @include phone {
      font-size: 2.4rem;
    }

    &.dark {
      color: #333;
    }

    &.green {
      color: #3da81c;
    }

    &.purple {
      color: #805ad5;
    }

    &.red {
      color: rgb(238, 44, 44);
    }

    &.pink {
      color: rgb(248, 58, 169);
    }
  }
}
